<!DOCTYPE html>
<html>
    <head>
        <title>wiki api</title>
    </head>
    <body>
        
            
            <h1><%= article.title %></h1>
            <h4><%= article.content %></h4>
       
    </body>
</html>
